{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_questions_list %}
<ul>
    {% for question in latest_questions_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>I don't want to talk to you today</p>
{% endif %}

{% if user.is_authenticated %}
<p> You are logged in as {{ user.username }}</p>
<a href="{% url 'polls:logout' %}">logout</a>
{% else %}
<p>Please <a href="{% url 'polls:login' %}"> Login </a> to personalize this experience</p>
{% endif %}
