{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>

{% if user.is_authenticated %}
<div class="top-bar">
  <span class="success label">Welcome {{ user.username }}</span>
  <div class="top-bar-right">
    <ul class="menu">
      <a href="{% url 'polls:logout' %}">logout</a>      
    </ul>
  </div>  
</div>

{% else %}
<p>Please <a href="{% url 'polls:login' %}"> Login </a> to personalize this experience</p>
{% endif %}

{% if latest_questions_list %}
<ul>
    {% for question in latest_questions_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<div class="callout alert">
  <p>I don't want to talk to you today</p>
</div>
{% endif %}

