<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'polls:login' %}">
  {% csrf_token %}
  <div class="row">
    <div class="small-3">
      <div class="row">
        <div class="small-3 columns">
	    {{ form.username.label_tag }}
	</div>
        <div class="small-9 columns">
	  {{ form.username }}
	</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-3">
      <div class="row">
        <div class="small-3 columns">
	  {{ form.password.label_tag }}
	</div>
        <div class="small-9 columns">
	  {{ form.password }}	  	  
	</div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="small-3 columns">
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>
</form>

